@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
     Note: I've set the model for this view to IEnumerable<Customer>.
     This is a simple interface implemented by the list class. Since
     in this view we only want to iterate over this list, and we don't
     need any of the operations in the List class (eg Add, Remove, etc),
     it's better to use the IEnumerable interface, which allows use to
     iterate over the list. If in the future, we replace the List with a
     different data structure, as long as it is enumerable, our view code
     will remain unchanged.
*@


 
 <h2>Customers</h2>
<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{

    <script src="~/scripts/jquery-1.10.2.js"></script>

    <!-- #region datatables files -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.min.css"/>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" 
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" 
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
          var table=  $("#customers").DataTable({
            ajax: {
                url: "/api/Customers",
                dataSrc:""
            },
            columns: [
                {
                    data: "name",
                    render:function(data, type, customer) {
                        return "<a href='/customers/edit/" + customer.id + "'>"+customer.name+"</a>";
                    }
                },
                {
                    data:"membershipType.name"
                },
                {
                    data: "id",
                    render:function(data) {
                        return "<button class='btn btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                    }
                }
            ]
        });

        $("#customers").on("click",
            ".js-delete",
            function() {
                
                var button = this;
                
                bootbox.confirm("Are you sure you want to delete this customer?",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Customers/" + $(button).attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                    
                                }
                            });
                        }
                    });
            });

    });
    </script>
}
